<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MediaServicesAccountName" value="MediaServicesAccountName" />
    <add key="MediaServicesAccountKey" value="MediaServicesAccountKey" />

    <add key="Issuer" value="http://testacs.com" />
    <add key="Audience" value="urn:test" />
  </appSettings>
</configuration>